*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*----Globa;l----*/

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(231, 37, 37);
    border: 1px solid rgb(231, 28, 28);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

/*---- Navbar ----*/

.nav-bar{
    display: flex;
    background-color: #000;
    justify-content: space-between;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: .5rem .5rem;
}
.nav-bar .name{
    font-size: 2rem;
}
.nav-bar .name a{
    color: #fff;
}
.nav-bar .nav-links{
    display: flex;
    padding: 0 2rem;
    font-size: 1.5rem;
    left: -100%;
    transition: all .5s;
}
.nav-bar .nav-links .link{
    padding-left: 4rem;
}
.nav-bar .nav-links .link a{
    color: #fff;
}
.nav-bar .nav-links .link a:hover{
    color: red;
    transition: .5s;
    cursor: pointer;
    border: none;
}

.checkbtn{
    font-size: 3rem;
    color: #fff;
    float: right;
    line-height: 8rem;
    margin-right: 4rem;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/*----- Header -----*/
.header{
    background: linear-gradient(#fff, rgb(235, 114, 114), rgb(145, 151, 240), #fff);
    padding: 5rem;
    justify-content: center;
    text-align: center;
}
.header .profile-pic{
    width: 15rem;
    height: 40vh;
    border-radius: 60%;
    box-shadow: 4px 4px 12px 3px red;
    object-fit: cover;
}
.header h2{
    padding-top: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    color: #000;
}
.header p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: #000;
}
.header .social{
    padding-top: 2rem;
}
.header .social a{
    padding-left: 3rem;
    padding-right: 3rem;
    color: #000;
}
.header .social .fa-brands:hover{
    color: rgb(253, 2, 2);
    border-radius: 30%;
    transition: .5s;
    transform: scale(1.5);
}

/*---- projects ----*/

.projects{
    margin: 2rem;
    text-align: center;
}
.projects h1{
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.projects .row{
    display: flex;
    padding-top: 3rem;
    justify-content: space-between;
}
.projects .row .project{
    box-sizing: border-box;
    border-radius: 10%;
}
.projects .row .project:hover{
    background: rgb(240, 147, 147);
    box-shadow: 4px 4px 12px 3px red;
    transition: .5s;
}
.projects .row .project h3{
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.projects .row .project img{
    background: transparent;
    width: 20rem;
    height: 40vh;
    border-radius: 50%;
}
.projects .hero-btn{
    margin-top: 4rem;
    color: #000;
    border: 1px solid #000;
    border-radius: 20%;
    margin-bottom: 4rem;
}
.projects .hero-btn:hover{
    background: red;
    color: #fff;
    border: red;
}

/*----- About Me -----*/

.about{
    background-image: url(../images/background2.JPG);
    background-position: center;
    background-size: cover;
    justify-content: center;
    text-align: center;
    padding-bottom: 4rem;
}
.about .me{
    box-sizing: border-box;
    justify-content: center;
    padding-bottom: 3rem;
}
.about .me h1{
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about .me p{
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.about .skills{
    justify-content: space-between;
}
.about .skills h1{
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 2rem;
}
.about .skills p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}
.about .skills .fa-brands{
    margin-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.about .skills .fa-brands:hover{
    color: red;
    transition: .5s;
    transform: scale(2)
}

/*----ContactMe----*/
.contact{
    text-align: center;
    padding-top: 3rem;
}
.contact h1{
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.location{
    width: 70%;
    margin: auto;
    padding: 8rem 0;
}
.location iframe{
    width: 100%;
}
.contact-me{
    width: 80%;
    margin: auto;
}
.contact-col{
    display: flex;
    margin-bottom: 3rem;
    justify-content: space-between;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}
.contact-col div .fa{
    font-size: 2.8rem;
    color: #000;
    margin: 1rem;
    margin-right: 3rem;
}
.contact-col div .fa:hover{
    color: red;
    transform: scale(2);
    transition: .5s;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    color: #555;
    font-weight: 400;
}

/*---- Responsive ----*/

@media only screen and (max-width: 1023px){
   .projects .row{
       display: flex;
       flex-direction: column;
   }
   .contact-col{
        display: flex;
        flex-direction: column;
    }
    .name a{
        font-size: 1.5rem;
        align-items: center;
    }
    .link{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 750px){
    .nav-bar{
        height: 3rem;
    }
    .checkbtn{
        display: block;
    }
    .name a{
        font-size: 1.2rem;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 15vh;
        background: #000;
        top: 3rem;
        left: 0;
        text-align: center;
        flex-direction: column;
        justify-content: space-evenly;
    }
    a:hover,a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .header{
        background-size: cover;
    }
    .social{
        display: flex;
        margin-left: -8rem !important;
        justify-content: space-between;
        padding-left: .8rem;
        padding-right: .8rem;
    }
    .projects .row{
        display: flex;
        flex-direction: column;
    }
    .contact-col{
        display: flex;
        flex-direction: column;
    }
    h5{
        font-size: .5rem;
    }
}